  * {
    font-family: "Proxima Nova";
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  .logo {
    height: 40mm;
    width: 40mm;
  }

  .name {
    font-size: 10px;
    font-family: inherit;
    color: #333333;
  }

  .nickname {
    font-size: 11px;
    font-family: "Proxima Nova Alt Condensed";
    color: #333333;
  }

  .heading {
    font-family: "Proxima Nova";
    text-align: center;
    letter-spacing: 3pt;
    font-weight: bold;
    color: #6A1B9A;
    font-size: 40px;
  }

  .subheading {
    font-family: "Proxima Nova";
    font-size: 20px;
    letter-spacing: 3pt;
    font-weight: thin;
    line-height: 0;
    color: #6A1B9A;
  }

  .blue {
    color: #008cff;
  }

  .green {
    color: #6A1B9A;
  }

  .gold {
    color: #008cff
  }

  .bg-blue {
    background-color: #008cff;
  }

  .bg-green {
    background-color: #6A1B9A;
  }

  .bg-gold {
    background-color: #008cff
  }


  @media (max-width: 1025px) {
    html.boxed body {
      min-width: 990px; } 

      .subheading {
 
        font-size: 40px;
    }
  }